<html>
    <body>
        <form action="/livros" method="post">
            <input type="hidden" id="id" name="id"/>
            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" name="titulo" placeholder="coloque o nome do livro"/>

            </div>
            <div>
                <label for="preco">Titulo:</label>
                <input type="text" id="preco" name="preco" placeholder="150,00"/>
                
            </div>
            <div>
                <label for="descricao">Titulo:</label>
                <input type="text" id="descricao" name="descricao" placeholder="descrição do livro"/>
                
            </div>
            
            <input type="submit" value="salvar"/>
        </form>
    </body>
</html>